Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

pipelines/build-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

pipelines/build-planner.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
        os: windows
      stages:
      - stage: Build
        jobs:
        - job: Build
          displayName: Build and Pack
          steps:
  ...

pipelines/build-telemetry.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

remove github check (obsolete)
  src/Terrajobst.ApiCatalog.ActionsRunner/ConsoleHost.cs
Due: none

move to release env
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

move to release env
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

fixing env
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

test use dotnetcorecli@2
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

fixing
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

reverting envs
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

revert to azurecli
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

use ASPNETCORE_ENVIRONMENT env and remove github check
  pipelines/gen-design-notes.yml
  src/Terrajobst.ApiCatalog.ActionsRunner/ConsoleHost.cs
Due: pipelines/build-pipeline.yml

final check
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

Add scheduled pipeline to generate design notes (#136)
  pipelines/gen-design-notes.yml
  src/NetUpgradePlannerTelemetry/NetUpgradePlannerTelemetry.csproj
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ConsoleHost.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/Terrajobst.ApiCatalog.ActionsRunner.csproj
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

update the nuget feed url
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
Due: none

revert to public nuget url
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
Due: none

remove 1es template on pipeline
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

fixing pipeline not found
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

limit parallel job to 12
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: none

check debug
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

apply copilot suggestion
  src/GenUsageNuGet/CrawlMain.cs
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/GenUsageNuGet/scratch/worker_001.txt
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
  src/apisof.net/Program.cs
Due: pipelines/build-pipeline.yml

added extra timeout and parralellsm count
  pipelines/templates/gen-usage-nuget.yml
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

reorder instantation
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: none

try copilot suggestion
  pipelines/templates/gen-usage-nuget.yml
  src/GenUsageNuGet/CrawlMain.cs
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

remove timeout on pipeline run
  pipelines/gen-usage-pipeline.yml
  pipelines/templates/gen-usage-nuget.yml
  pipelines/templates/gen-usage-planner.yml
Due: pipelines/build-pipeline.yml

delete gen-design-notes.yml on workflow
  .github/workflows/gen-design-notes.yml
Due: none

delete gen-design-notes.yml on workflow (#140)
  .github/workflows/gen-design-notes.yml
Due: none

fixing fatal crash on crawl worker
  src/GenUsageNuGet/CrawlMain.cs
Due: none

fixing sql insert duplicate key
  src/Terrajobst.UsageCrawling.Storage/UsageDatabase.cs
Due: none

fixing unallocated key on dictionary
  pipelines/gen-usage-pipeline.yml
  src/Terrajobst.UsageCrawling.Storage.Tests/UsageDatabaseTests.cs
  src/Terrajobst.UsageCrawling.Storage/UsageDatabase.cs
Due: pipelines/build-pipeline.yml

release mode
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

increase worker size to 3
  pipelines/templates/gen-usage-nuget.yml
Due: pipelines/build-pipeline.yml

decrease timeout and increase worker count
  pipelines/templates/gen-usage-nuget.yml
  src/GenUsageNuGet/CrawlMain.cs
Due: pipelines/build-pipeline.yml

lower crawler count
  pipelines/templates/gen-usage-nuget.yml
Due: pipelines/build-pipeline.yml

balancing worker and timeout hours for optimize result
  pipelines/templates/gen-usage-nuget.yml
Due: pipelines/build-pipeline.yml

Dispose HTTP streams and synchronize logging
  pipelines/gen-usage-pipeline.yml
  src/GenUsageNuGet/CrawlMain.cs
  src/GenUsageNuGet/scratch/worker_001.txt
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

Update pipeline pool and crawler timeout
  pipelines/gen-usage-pipeline.yml
  src/GenUsageNuGet/CrawlMain.cs
Due: pipelines/build-pipeline.yml

fixing copilot review
  pipelines/gen-usage-pipeline.yml
  src/GenUsageNuGet/CrawlMain.cs
Due: pipelines/build-pipeline.yml

Handle process cancellation and drain output
  src/GenUsageNuGet/CrawlMain.cs
Due: none

remove legacy script
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

Update gen-catalog.yml
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

create folder on pipeline
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry
