Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry

comment dotnet run
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

Performance optimization for Catalog (#137)
  src/apisof.net/Pages/CatalogItem.razor.cs
  src/apisof.net/Pages/CatalogRoot.razor
  src/apisof.net/Shared/ApiSearch.razor.cs
Due: pipelines/build-pipeline.yml

added dotnet run
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

use az instance as context
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

ls dir
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

use azure cli
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

remove built configuration
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

Add storage WIF identity test and pipeline step
  automations/Test-StorageWifIdentity.ps1
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

uncomment build run
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

try to use ManageIdentityCreds
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

testing
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

testing
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

testing if have access already
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

use azuredefaultcred
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

enable debug
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

fix var
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

fix syntax
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

enabling azure console debugger
  pipelines/gen-design-notes.yml
  src/GenDesignNotes/Program.cs
Due: pipelines/build-pipeline.yml

testing manual assign of id
  pipelines/gen-design-notes.yml
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStoreOptions.cs
  src/apisof.net/Services/BlobStorageService.cs
  src/apisof.net/Shared/ApisOfDotNetOptions.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

revert and cleanup
  pipelines/gen-design-notes.yml
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Update gen-design-notes.yml
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

remove extra opts
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStoreOptions.cs
  src/apisof.net/Shared/ApisOfDotNetOptions.cs
Due: pipelines/build-pipeline.yml

us emanageidentity
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

testing get wif token
  pipelines/gen-design-notes.yml
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
Due: pipelines/build-pipeline.yml

check value
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml

try to fix doubleslah to storage.azure endpoint
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

test fix on double slash
  src/AzureTokenHelper/AzureTokenCredentialHelper.cs
  src/AzureTokenHelper/AzureTokenCredentialHelper.csproj
  src/NetUpgradePlannerTelemetry/NetUpgradePlannerTelemetry.csproj
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/Terrajobst.ApiCatalog.ActionsRunner.csproj
  src/apisof.net/Services/BlobStorageService.cs
  src/apisof.net/apisof.net.csproj
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

check
  src/AzureTokenHelper/AzureTokenCredentialHelper.cs
Due: none

check scope
  src/AzureTokenHelper/AzureTokenCredentialHelper.cs
Due: none

cleanup and test
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

removed prev created helper, cleanup code
  pipelines/gen-design-notes.yml
  src/AzureTokenHelper/AzureTokenCredentialHelper.cs
  src/AzureTokenHelper/AzureTokenCredentialHelper.csproj
  src/NetUpgradePlannerTelemetry/NetUpgradePlannerTelemetry.csproj
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/Terrajobst.ApiCatalog.ActionsRunner.csproj
  src/apisof.net/Services/BlobStorageService.cs
  src/apisof.net/apisof.net.csproj
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

try to use azureclicredential
  pipelines/gen-design-notes.yml
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

remove unused script and artifact
  automations/Test-StorageWifIdentity.ps1
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

remove azure logger
  src/GenDesignNotes/Program.cs
Due: none

use azuredefaultcred on debug
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

use release configuration
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml

cleanup
  pipelines/gen-design-notes.yml
  src/GenDesignNotes/Program.cs
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

remove spaces
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
Due: pipelines/build-telemetry.yml

revert back changes for serviceUrl
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
Due: none

remove reference for az on yml
  pipelines/templates/gen-usage-nuget.yml
  pipelines/templates/gen-usage-planner.yml
Due: pipelines/build-pipeline.yml
