Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry

fixing clowd.squirrel package ref
  src/Directory.Packages.props
Due: none

try the highest version
  src/Directory.Packages.props
Due: none

Replace Squirrel with Velopack
  pipelines/build-planner.yml
  src/Directory.Packages.props
  src/NetUpgradePlanner/App.manifest
  src/NetUpgradePlanner/App.xaml.cs
  src/NetUpgradePlanner/NetUpgradePlanner.csproj
  src/NetUpgradePlanner/Services/UpdateService.cs
  src/apisof.net/Pages/UpgradePlanner.razor
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

use private feed for vpk install
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

update package version
  src/Directory.Packages.props
Due: none

remove deploy-planner gh workflow
  .github/workflows/deploy-planner.yml
Due: none

use ps script
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

switch to private feed
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
Due: none

Use SourceRepository with credentials for NuGet
  pipelines/gen-catalog.yml
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

update nuget.protocol package
  src/Directory.Packages.props
Due: none

cleanup
  src/GenCatalog/Main.cs
Due: none

Remove gen-catalog and gen-usage workflows (#144)
  .github/workflows/gen-catalog.yml
  .github/workflows/gen-usage.yml
Due: none

minor fix
  pipelines/gen-usage-pipeline.yml
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

Refactor CatalogService to include fallback mechanism for blob downloads and improve error handling in warm-up process
  src/apisof.net/Services/CatalogService.cs
  src/apisof.net/Services/CatalogServiceWarmUp.cs
  src/apisof.net/Shared/ApiSearch.razor.cs
Due: pipelines/build-pipeline.yml

Refactor CatalogService to include fallback mechanism for blob downloads and improve error handling in warm-up process (#147)
  src/apisof.net/Services/CatalogService.cs
  src/apisof.net/Services/CatalogServiceWarmUp.cs
  src/apisof.net/Shared/ApiSearch.razor.cs
Due: pipelines/build-pipeline.yml

Switch NuGet source to nuget.org
  src/nuget.config
Due: none

Replace conditional credential login with default add lscache to gitignore
  .gitignore
  src/apisof.net/Services/BlobStorageService.cs
  src/nuget.config
Due: pipelines/build-pipeline.yml

Add more logging
  src/apisof.net/Services/BlobStorageService.cs
  src/apisof.net/Services/CatalogService.cs
Due: pipelines/build-pipeline.yml

git ignore lscache
  .gitignore
Due: none

remove extra space
  .gitignore
Due: none

remove nuget auth
  pipelines/build-pipeline.yml
  pipelines/build-telemetry.yml
  pipelines/gen-design-notes.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Switch NuGet source to nuget.org (#148)
  .gitignore
  pipelines/build-pipeline.yml
  pipelines/build-telemetry.yml
  pipelines/gen-design-notes.yml
  src/nuget.config
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Refactor planner pipeline into steps template
  pipelines/build-planner.yml
  pipelines/templates/steps-build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

separating build and release for dev and prod
  pipelines/build-planner-release.yml
  pipelines/build-planner.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/upload-build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

fixing pipeline error
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

fixing api.nuget error on tests
  pipelines/build-planner-release.yml
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

typo
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

xunit update
  src/Directory.Packages.props
Due: none

added OS checker
  src/Terrajobst.UsageCrawling.Storage.Tests/UsageDatabaseTests.cs
Due: none

re-add pipeline template
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

remove irrelevant test case for planner
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

removed depensOn
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

remove nugetauth
  pipelines/build-planner.yml
  pipelines/templates/steps-build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

getting error on api.nuget.org
  src/nuget.config
Due: none

EnableWindowsTargeting set to true
  pipelines/build-planner.yml
  pipelines/templates/steps-build-planner.yml
  src/nuget.config
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

use recent Microsoft.Cci version on public nuget
  src/Directory.Packages.props
Due: none

use private feed
  src/Directory.Packages.props
  src/nuget.config
Due: none

re add nuget auth
  pipelines/templates/steps-build-planner.yml
Due: pipelines/build-pipeline.yml

re add pipeline template
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml
