Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

pipelines/build-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

pipelines/build-planner.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
        os: windows
      stages:
      - stage: Build
        jobs:
        - job: Build
          displayName: Build and Pack
          steps:
  ...

pipelines/build-telemetry.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

Upgrade projects to .NET 10 and bump deps
  pipelines/build-pipeline.yml
  pipelines/build-telemetry.yml
  pipelines/gen-catalog.yml
  pipelines/gen-design-notes.yml
  pipelines/gen-usage-pipeline.yml
  pipelines/release-telemetry.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/upload-build-planner.yml
  src/Directory.Packages.props
  src/DumpMissingNetFxFeatures/DumpMissingNetFxFeatures.csproj
  src/DumpPackageList/DumpPackageList.csproj
  src/DumpPacks/DumpPacks.csproj
  src/GenCatalog/GenCatalog.csproj
  src/GenDesignNotes/GenDesignNotes.csproj
  src/GenUsage/GenUsage.csproj
  src/GenUsageNuGet/GenUsageNuGet.csproj
  src/GenUsagePlanner/GenUsagePlanner.csproj
  src/NetUpgradePlanner/NetUpgradePlanner.csproj
  src/NetUpgradePlannerTelemetry/NetUpgradePlannerTelemetry.csproj
  src/Terrajobst.ApiCatalog.ActionsRunner/Terrajobst.ApiCatalog.ActionsRunner.csproj
  src/Terrajobst.ApiCatalog.DesignNotes/Terrajobst.ApiCatalog.DesignNotes.csproj
  src/Terrajobst.ApiCatalog.Generation/Terrajobst.ApiCatalog.Generation.csproj
  src/Terrajobst.ApiCatalog.SuffixTree/Terrajobst.ApiCatalog.SuffixTree.csproj
  src/Terrajobst.ApiCatalog.Tests/Terrajobst.ApiCatalog.Tests.csproj
  src/Terrajobst.ApiCatalog/CatalogModel/ApiCatalogModel.cs
  src/Terrajobst.ApiCatalog/CatalogModel/PlatformAnnotationContext.cs
  src/Terrajobst.ApiCatalog/Terrajobst.ApiCatalog.csproj
  src/Terrajobst.NetUpgradePlanner.Excel/Terrajobst.NetUpgradePlanner.Excel.csproj
  src/Terrajobst.NetUpgradePlanner/Terrajobst.NetUpgradePlanner.csproj
  src/Terrajobst.UsageCrawling.Storage.Tests/Terrajobst.UsageCrawling.Storage.Tests.csproj
  src/Terrajobst.UsageCrawling.Storage/Terrajobst.UsageCrawling.Storage.csproj
  src/Terrajobst.UsageCrawling.Tests/Collectors/TargetFrameworkCollectorTests.cs
  src/Terrajobst.UsageCrawling.Tests/Collectors/UsesNullableReferenceTypesCollectorTests.cs
  src/Terrajobst.UsageCrawling.Tests/Infra/AssemblyBuilder.cs
  src/Terrajobst.UsageCrawling.Tests/Infra/TargetFramework.cs
  src/Terrajobst.UsageCrawling.Tests/Terrajobst.UsageCrawling.Tests.csproj
  src/Terrajobst.UsageCrawling/Terrajobst.UsageCrawling.csproj
  src/apisof.net/apisof.net.csproj
  src/apisofdotnet/apisofdotnet.csproj
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

Restore original implied-platform parsing in PlatformAnnotationContext
  src/Terrajobst.ApiCatalog/CatalogModel/PlatformAnnotationContext.cs
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Restore original GetMarkup semantics; keep only the negative-offset sentinel
  src/Terrajobst.ApiCatalog/CatalogModel/ApiCatalogModel.cs
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Address warnings
  src/NetUpgradePlanner/App.manifest
  src/NetUpgradePlanner/NetUpgradePlanner.csproj
  src/Terrajobst.UsageCrawling/Collectors/IncrementalUsageCollector.cs
Due: pipelines/build-planner.yml

Add .NET 10 installation steps to pipeline templates
  pipelines/release-gen-design-notes-pipeline.yml
  pipelines/templates/steps-gen-catalog-run.yml
  pipelines/templates/steps-gen-usage.yml
Due: pipelines/build-pipeline.yml

Add installation path for dotnet
  pipelines/release-gen-design-notes-pipeline.yml
  pipelines/templates/steps-gen-catalog-run.yml
  pipelines/templates/steps-gen-usage.yml
Due: pipelines/build-pipeline.yml

Add logic for Vietnam region for cookie compliance and add footer
  src/apisof.net/Pages/_Host.cshtml
  src/apisof.net/Shared/MainLayout.razor
  src/apisof.net/wwwroot/css/site.css
Due: pipelines/build-pipeline.yml

checking path
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

Update steps-gen-usage.yml
  pipelines/templates/steps-gen-usage.yml
Due: pipelines/build-pipeline.yml

Update steps-gen-catalog-run.yml
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

checking dotnet tool install path
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

fixing path
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

change to sdk
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

fetching tool cache path
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

change install path
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

manual install .net 10 runtime
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

use sdk
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

PR update
  src/apisof.net/Pages/_Host.cshtml
  src/apisof.net/wwwroot/js/site.js
Due: pipelines/build-pipeline.yml

Use .NET 10 SDK and enable preview versions
  pipelines/gen-catalog.yml
  pipelines/gen-design-notes.yml
  pipelines/gen-usage-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/steps-gen-usage.yml
  pipelines/templates/upload-build-planner.yml
Due: pipelines/build-pipeline.yml

Use .NET SDK and simplify dotnet invocation
  pipelines/build-pipeline.yml
  pipelines/build-telemetry.yml
  pipelines/release-gen-design-notes-pipeline.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

pr review update
  src/apisof.net/wwwroot/css/site.css
Due: pipelines/build-pipeline.yml

update links
  src/apisof.net/Shared/MainLayout.razor
Due: pipelines/build-pipeline.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry
