Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

pipelines/build-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

pipelines/build-planner.yml:
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      pool:
        name: AzurePipelines-EO
        image: 1ESPT-Windows2022
        os: windows
      stages:
      - stage: Build
        jobs:
        - job: Build
          displayName: Build and Pack
          steps:
  ...

pipelines/build-telemetry.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

added other folders
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

remove 1es template
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

Update gen-catalog.yml
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

remove timeout on pipeline run
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

add pipelien debug
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

fixing oom
  pipelines/gen-catalog.yml
  src/GenCatalog/Main.cs
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.cs
Due: pipelines/build-pipeline.yml

fixing oom issues
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

fixing other oom
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

added chunk limit
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

still fixing OOM on late stage of assembly patch
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

still fixing oom
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

parralel process on syntax instead of storing first then process later
  pipelines/gen-catalog.yml
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: pipelines/build-pipeline.yml

adding garbage collection for memory release
  pipelines/gen-catalog.yml
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: pipelines/build-pipeline.yml

apply copilot suggestion here
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

fixing on the generate syntax run
  src/GenCatalog/Main.cs
  src/Terrajobst.ApiCatalog.SuffixTree/SuffixTreeBuilder.cs
Due: none

added process time watcher for debugging only
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

less chunk size
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

added console writeline
  pipelines/gen-catalog.yml
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: pipelines/build-pipeline.yml

add additional logging
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

clear all memory before serialize
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: none

use VSEng-MicroBuild-Large for agent pool and added logging on each step
  pipelines/gen-catalog.yml
  src/GenCatalog/Main.cs
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
Due: pipelines/build-pipeline.yml

fixing yml
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

copying template on other vseng-microbuild pipeline user
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

fixing
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

try to use vseng-microbuild
  pipelines/gen-catalog.yml
Due: pipelines/build-pipeline.yml

Remove gen-catalog and gen-usage workflows
  .github/workflows/gen-catalog.yml
  .github/workflows/gen-usage.yml
Due: none

Add build pipeline for NetUpgradePlanner
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

fixing 409 error
  .github/workflows/deploy-planner.yml
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

use private feed
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

remove env for azurestorageconn
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

added --auth-mode
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

reference az storage account name
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

fixing build error
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

parsing semver via githubbuildversion variable
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

update package clowd.squirrel to latest based on artifact upstream
  src/Directory.Packages.props
Due: none

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry
