Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry

fixing NugetFeed
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
Due: none

revert nugetfeed url
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
Due: none

fixing release run
  pipelines/release-gen-usage-pipeline.yml
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
Due: pipelines/build-pipeline.yml

Update release-gen-usage-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

use windows pool os
  pipelines/release-gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

Unify gen-catalog build and rename artifact
  pipelines/gen-catalog.yml
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/templates/steps-gen-catalog-build.yml
Due: pipelines/build-pipeline.yml

rename
  pipelines/release-gen-design-notes-pipeline.yml
Due: pipelines/build-pipeline.yml

consolidate build artifact
  pipelines/gen-design-notes.yml
  pipelines/release-gen-design-notes-pipeline.yml
Due: pipelines/build-pipeline.yml

clean up
  pipelines/gen-catalog.yml
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

Update release-gen-catalog-pipeline.yml
  pipelines/release-gen-catalog-pipeline.yml
Due: pipelines/build-pipeline.yml

fixing
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

Improve GC strategy in GenCatalog
  src/GenCatalog/Main.cs
Due: none

Use default azure credentials for deployment
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml

Use default azure credentials for deployment (#150)
  src/apisof.net/Services/BlobStorageService.cs
Due: pipelines/build-pipeline.yml

Apply suggestions from code review
  pipelines/gen-catalog.yml
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/templates/steps-gen-catalog-run.yml
Due: pipelines/build-pipeline.yml

Add NuGetAuthenticate step to build pipeline
  pipelines/build-pipeline.yml
Due: pipelines/build-pipeline.yml

Add NuGetAuthenticate step to build pipeline (#151)
  pipelines/build-pipeline.yml
Due: pipelines/build-pipeline.yml

Migrate gen catalog pipeline (#146)
  pipelines/gen-catalog.yml
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/templates/steps-gen-catalog-run.yml
  src/Directory.Packages.props
  src/GenCatalog/Main.cs
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.CatalogWriter.cs
  src/Terrajobst.ApiCatalog.Generation/Cataloging/CatalogBuilder.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeeds.cs
  src/Terrajobst.ApiCatalog.SuffixTree/SuffixTreeBuilder.cs
  src/nuget.config
Due: pipelines/build-pipeline.yml

Delete pipelines/templates/steps-gen-design-notes.yml
  pipelines/templates/steps-gen-design-notes.yml
Due: pipelines/build-pipeline.yml

Apply suggestions from code review
  pipelines/gen-design-notes.yml
  pipelines/release-gen-design-notes-pipeline.yml
Due: pipelines/build-pipeline.yml

Add release pipeline for notes (#149)
  pipelines/build-pipeline.yml
  pipelines/gen-design-notes.yml
  pipelines/release-gen-design-notes-pipeline.yml
Due: pipelines/build-pipeline.yml

Update NugetFeed for Genusage
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: none

fixing feed access
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: none

added explicit auth on new and old url for feed access
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: none

fixing pipeline error
  pipelines/templates/steps-gen-usage.yml
Due: pipelines/build-pipeline.yml

Update steps-gen-usage.yml
  pipelines/templates/steps-gen-usage.yml
Due: pipelines/build-pipeline.yml

Update CrawlMain.cs
  src/GenUsageNuGet/CrawlMain.cs
Due: none

test fix on 503 error
  pipelines/templates/steps-gen-usage.yml
  src/GenUsageNuGet/Infra/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

update build and release planner pipeline
  pipelines/build-planner.yml
  pipelines/release-planner-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/upload-build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Update release-planner-pipeline.yml
  pipelines/release-planner-pipeline.yml
Due: pipelines/build-pipeline.yml

Clean up yml
  pipelines/gen-usage-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
  pipelines/templates/steps-gen-usage.yml
Due: pipelines/build-pipeline.yml

Add scheduled GenUsage pipeline and templates (#134)
  pipelines/gen-usage-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
  pipelines/templates/steps-gen-usage.yml
  src/GenUsageNuGet/CrawlMain.cs
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
  src/Terrajobst.UsageCrawling.Storage.Tests/UsageDatabaseTests.cs
  src/Terrajobst.UsageCrawling.Storage/UsageDatabase.cs
  src/apisof.net/Program.cs
Due: pipelines/build-pipeline.yml

Refactor build and release pipelines to include full Git history and streamline versioning steps
  pipelines/build-planner.yml
  pipelines/release-planner-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/upload-build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Remove checkout from release task
  pipelines/release-planner-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/upload-build-planner.yml
Due: pipelines/build-pipeline.yml

Add -a flag to nbgv cloud command for versioning and update error messages
  pipelines/templates/steps-build-planner.yml
Due: pipelines/build-pipeline.yml

Move deploy planner from gh action to az pipeline (#145)
  .github/workflows/deploy-planner.yml
  pipelines/build-planner.yml
  pipelines/release-planner-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  pipelines/templates/upload-build-planner.yml
  src/Directory.Packages.props
  src/NetUpgradePlanner/App.manifest
  src/NetUpgradePlanner/App.xaml.cs
  src/NetUpgradePlanner/NetUpgradePlanner.csproj
  src/NetUpgradePlanner/Services/UpdateService.cs
  src/Terrajobst.UsageCrawling.Storage.Tests/UsageDatabaseTests.cs
  src/apisof.net/Pages/UpgradePlanner.razor
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Remove approval gate and add descriptive job names
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/release-gen-design-notes-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

Remove approval gate and add descriptive job names (#155)
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/release-gen-design-notes-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

Update source trigger path
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/release-gen-design-notes-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
  pipelines/release-pipeline.yml
  pipelines/release-planner-pipeline.yml
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Update source trigger path (#156)
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/release-gen-design-notes-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
  pipelines/release-pipeline.yml
  pipelines/release-planner-pipeline.yml
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml
