Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-planner.yml, pipelines/build-telemetry.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-planner.yml: any of: pipelines/build-planner.yml, src/NetUpgradePlanner, src/Terrajobst.ApiCatalog, src/Terrajobst.NetUpgradePlanner, src/Terrajobst.NetUpgradePlanner.Excel, src/Terrajobst.UsageCrawling
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry

disabel dev run for test
  pipelines/release-gen-catalog-pipeline.yml
Due: pipelines/build-pipeline.yml

Add DR usage generation stage
  pipelines/release-gen-usage-pipeline.yml
  src/GenUsageNuGet/Infra/NuGetUsageDatabase.cs
Due: pipelines/build-pipeline.yml

Enable catalog Dev stage
  pipelines/release-gen-catalog-pipeline.yml
  pipelines/release-gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

Handle missing NuGet usage database gracefully
  src/GenUsageNuGet/CrawlMain.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStoreExtensions.cs
Due: none

Handle missing planner usage database gracefully
  src/GenUsagePlanner/Main.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStoreExtensions.cs
Due: none

pr review
  src/apisof.net/wwwroot/css/site.css
Due: pipelines/build-pipeline.yml

Enable Dev usage generation stage
  pipelines/release-gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

better error message (#167)
  src/apisof.net/App.razor
  src/apisof.net/Pages/Error.cshtml
  src/apisof.net/Pages/_Host.cshtml
  src/apisof.net/Shared/MainLayout.razor
  src/apisof.net/Shared/MainLayout.razor.cs
  src/apisof.net/wwwroot/css/site.css
Due: pipelines/build-pipeline.yml

Extract pack manifest models
  src/DumpPacks/Diagnostics/DumpPackDiagnostics.cs
  src/DumpPacks/DumpPacks.csproj
  src/DumpPacks/Program.cs
  src/Terrajobst.ApiCatalog.Generation/Frameworks/Extensions/FrameworkDefinitionExtension.cs
  src/Terrajobst.ApiCatalog.Generation/Frameworks/FrameworkDefinition.All.cs
  src/Terrajobst.ApiCatalog.Generation/Frameworks/FrameworkDownloader.cs
  src/Terrajobst.ApiCatalog.Generation/Models/BuiltInPackManifest.cs
  src/Terrajobst.ApiCatalog.Generation/Models/DumpPackManifest.cs
  src/Terrajobst.ApiCatalog.Generation/Models/PlatformVersion.cs
  src/Terrajobst.ApiCatalog.Generation/Models/WorkLoadPackManifest.cs
  src/Terrajobst.ApiCatalog.Generation/Terrajobst.ApiCatalog.Generation.csproj
  src/Terrajobst.ApiCatalog.PackManifest/Models/BuiltInPackManifest.cs
  src/Terrajobst.ApiCatalog.PackManifest/Models/DumpPackManifest.cs
  src/Terrajobst.ApiCatalog.PackManifest/Models/PlatformVersion.cs
  src/Terrajobst.ApiCatalog.PackManifest/Models/WorkLoadPackManifest.cs
  src/Terrajobst.ApiCatalog.PackManifest/Terrajobst.ApiCatalog.PackManifest.csproj
  src/apisof.net.sln
Due: none

Rename WorkLoadPack types and validate manifest errors
  src/DumpPacks/Program.cs
  src/Terrajobst.ApiCatalog.Generation/Frameworks/Extensions/FrameworkDefinitionExtension.cs
Due: none

Deploy dev from a storage package instead of the public SCM endpoint
  pipelines/release-pipeline.yml
  pipelines/release-telemetry.yml
  pipelines/templates/steps-deploy-run-from-package.yml
Due: pipelines/build-pipeline.yml

Use the function app's own storage account for the telemetry package
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Revert to the shared deployment-pkgs container for the telemetry package
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Restore projects before publishing
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

Harden GenUsage restore and publish pipeline
  pipelines/gen-usage-pipeline.yml
  src/Directory.Build.props
Due: pipelines/build-pipeline.yml

Move NuGet.config to repo root, simplify pipelines
  NuGet.config
  build.cmd
  pipelines/build-pipeline.yml
  pipelines/gen-design-notes.yml
  pipelines/gen-usage-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  src/Directory.Build.props
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

Restore projects before publishing (#171)
  NuGet.config
  build.cmd
  pipelines/build-pipeline.yml
  pipelines/gen-design-notes.yml
  pipelines/gen-usage-pipeline.yml
  pipelines/templates/steps-build-planner.yml
  src/Directory.Build.props
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.ApiCatalog.Generation/NuGet/NuGetFeed.cs
Due: pipelines/build-pipeline.yml

Set build planner network isolation
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Update build-planner.yml
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Set pipeline network isolation policy
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Configure source analysis pool
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml, pipelines/build-planner.yml

Parse NuGet references using last slash
  src/GenUsageNuGet/Infra/NuGetUsageDatabase.cs
Due: none

Consume GraphViz from an internal feed instead of gitlab.com
  NuGet.config
  eng/Publish-GraphVizPackage.ps1
  src/Directory.Build.props
  src/Directory.Packages.props
  src/NetUpgradePlanner/Directory.Build.targets
Due: pipelines/build-planner.yml

Parse NuGet references using last slash (#175)
  src/GenUsageNuGet/Infra/NuGetUsageDatabase.cs
Due: none

Add MD file
  eng/GRAPHVIZ-NOTICE.md
Due: none

Authenticate with NuGet feeds in the telemetry build
  pipelines/build-telemetry.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Authenticate with NuGet feeds in the telemetry build (#177)
  pipelines/build-telemetry.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Deploy dev from a storage package instead of the public SCM endpoint (#170)
  pipelines/release-pipeline.yml
  pipelines/release-telemetry.yml
  pipelines/templates/steps-deploy-run-from-package.yml
Due: pipelines/build-pipeline.yml

Refresh catalog root on query changes
  src/apisof.net/Pages/CatalogRoot.razor.cs
  src/apisof.net/Shared/ApiBrowsingContext.cs
Due: pipelines/build-pipeline.yml

cleanup and fix
  src/DumpPacks/Diagnostics/DumpPackDiagnostics.cs
  src/DumpPacks/MSBuild/KnownFrameworkReference.cs
  src/DumpPacks/MSBuild/SupportedTargetPlatformVersion.cs
  src/DumpPacks/Program.cs
  src/DumpPacks/Workloads/WorkloadEnvironment.cs
  src/Terrajobst.ApiCatalog.Generation/Frameworks/Extensions/FrameworkDefinitionExtension.cs
  src/Terrajobst.ApiCatalog.PackManifest/Models/DumpPackManifest.cs
  src/apisof.net.sln
Due: none

Publish telemetry output directory
  pipelines/build-telemetry.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Update build-telemetry.yml
  pipelines/build-telemetry.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml
