Repository dotnet/apisof.net: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

pipelines/build-pipeline.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

pipelines/build-telemetry.yml:
  name: $(date:yyyyMMdd)$(rev:.r)
  extends:
    template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
    parameters:
      sdl:
        sourceAnalysisPool:
          name: AzurePipelines-EO
          image: 1ESPT-Windows2022
          os: windows
      pool:
        name: AzurePipelines-EO
  ...

Add nuget authenticate step for private upstream
  pipelines/build-packages.yml
  pipelines/build-planner.yml
  pipelines/build-telemetry.yml
  pipelines/gen-catalog.yml
  pipelines/gen-design-notes.yml
  pipelines/gen-usage.yml
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Update package source for nbgv
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml

Update release pipeline source refs
  pipelines/release-pipeline.yml
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Update input pipeline name
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Use linux app type
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Use AzureFunctionApp@2
  pipelines/release-telemetry.yml
Due: pipelines/build-pipeline.yml

Use AzureWebApp task
  pipelines/release-pipeline.yml
Due: pipelines/build-pipeline.yml

Update deployment package location
  pipelines/release-pipeline.yml
Due: pipelines/build-pipeline.yml

Fix cast issue and use private feed
  pipelines/build-planner.yml
  src/Terrajobst.ApiCatalog/Referencing/ReferenceRequirement_Compute.cs
Due: pipelines/build-pipeline.yml

Use powershell
  pipelines/build-planner.yml
Due: pipelines/build-pipeline.yml

Update gen catalog workflow error
  .github/workflows/gen-catalog.yml
  src/apisof.net/appsettings.json
Due: pipelines/build-pipeline.yml

Fix startup async task and add fallback for data
  src/apisof.net/Services/CatalogService.cs
  src/apisof.net/Services/CatalogServiceWarmUp.cs
Due: pipelines/build-pipeline.yml

Add single package source
  src/nuget.config
Due: none

Update build pipeline
  pipelines/build-pipeline.yml
Due: pipelines/build-pipeline.yml

Don't zip build artifacts
  pipelines/build-pipeline.yml
Due: pipelines/build-pipeline.yml

Update deployment config [skip ci]
  pipelines/release-pipeline.yml
Due: pipelines/build-pipeline.yml

Rollback zip deploy changes
  pipelines/build-pipeline.yml
  pipelines/release-pipeline.yml
Due: pipelines/build-pipeline.yml

Update build pipeline to zip package
  pipelines/build-pipeline.yml
Due: pipelines/build-pipeline.yml

Update deploy planner storage location
  .github/workflows/deploy-planner.yml
Due: none

Use webAppLinux
  pipelines/release-pipeline.yml
Due: pipelines/build-pipeline.yml

Add worflow dispatch
  .github/workflows/deploy-planner.yml
Due: none

Add default path for linux
  src/apisof.net/Services/CatalogService.cs
Due: pipelines/build-pipeline.yml

Create missing folder if missing
  src/apisof.net/Services/CatalogService.cs
Due: pipelines/build-pipeline.yml

Add error handling
  src/GenUsageNuGet/CrawlMain.cs
  src/GenUsageNuGet/CrawlPackageMain.cs
  src/GenUsageNuGet/Infra/NuGetFeed.cs
  src/Terrajobst.UsageCrawling.Storage/UsageDatabase.cs
Due: none

Add prod deployment stage and fix code style [skip ci]
  pipelines/release-pipeline.yml
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
Due: pipelines/build-pipeline.yml

Temporarily add container downloader
  pipelines/build-container-downloader.yml
  src/ContainerDownloader/ContainerDownloader.csproj
  src/ContainerDownloader/Program.cs
Due: pipelines/build-pipeline.yml

Change managed identity auth to default azure credential
  src/ContainerDownloader/Program.cs
Due: none

Update pipeline artifact ref in release pipeline [skip ci]
  pipelines/release-pipeline.yml
Due: pipelines/build-pipeline.yml

Remove migrated workflows and consolidate BlobClient access using a singleton
  .github/workflows/deploy-site.yml
  .github/workflows/deploy-telemetry.yml
  pipelines/build-container-downloader.yml
  pipelines/build-packages.yml
  pipelines/build-planner.yml
  pipelines/gen-catalog.yml
  pipelines/gen-design-notes.yml
  pipelines/gen-usage.yml
  src/ContainerDownloader/ContainerDownloader.csproj
  src/ContainerDownloader/Program.cs
  src/apisof.net/Controllers/DownloadController.cs
  src/apisof.net/Program.cs
  src/apisof.net/Services/BlobStorageService.cs
  src/apisof.net/Services/CatalogService.cs
Due: pipelines/build-pipeline.yml

Create release pipeline and update nuget.config (#126)
  .github/workflows/ci.yml
  .github/workflows/deploy-site.yml
  .github/workflows/deploy-telemetry.yml
  pipelines/build-telemetry.yml
  pipelines/release-pipeline.yml
  pipelines/release-telemetry.yml
  src/Directory.Packages.props
  src/NetUpgradePlannerTelemetry/NetUpgradePlannerTelemetry.csproj
  src/NetUpgradePlannerTelemetry/StoreTelemetryFunction.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStore.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/ApisOfDotNetStoreOptions.cs
  src/Terrajobst.ApiCatalog.ActionsRunner/Terrajobst.ApiCatalog.ActionsRunner.csproj
  src/Terrajobst.ApiCatalog/Referencing/ReferenceRequirement_Compute.cs
  src/apisof.net/Controllers/DownloadController.cs
  src/apisof.net/Program.cs
  src/apisof.net/Services/BlobStorageService.cs
  src/apisof.net/Services/CatalogService.cs
  src/apisof.net/Shared/ApisOfDotNetOptions.cs
  src/apisof.net/apisof.net.csproj
  src/nuget.config
Due: pipelines/build-pipeline.yml, pipelines/build-telemetry.yml

Add annotations (#129)
  src/apisof.net/Controllers/AzureStorageWebHookController.cs
  src/apisof.net/Controllers/GenCatalogWebHookController.cs
Due: pipelines/build-pipeline.yml

Add azure login step to load managed identity
  .github/dependabot.yml
  .github/workflows/deploy-planner.yml
  .github/workflows/gen-catalog.yml
  .github/workflows/gen-design-notes.yml
  .github/workflows/gen-usage.yml
Due: none

use environment var for blob storage url
  src/NetUpgradePlanner/Services/UpdateService.cs
  src/apisof.net/Pages/UpgradePlanner.razor
Due: pipelines/build-pipeline.yml

use environment var for blob storage url (#132)
  src/NetUpgradePlanner/Services/UpdateService.cs
  src/apisof.net/Pages/UpgradePlanner.razor
Due: pipelines/build-pipeline.yml

remove Environment prefix
  src/apisof.net/Pages/UpgradePlanner.razor
Due: pipelines/build-pipeline.yml

Add scheduled GenUsage pipeline and templates
  pipelines/gen-usage-pipeline.yml
  pipelines/templates/gen-usage-nuget.yml
  pipelines/templates/gen-usage-planner.yml
Due: pipelines/build-pipeline.yml

update path
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

update job naming convention
  pipelines/gen-usage-pipeline.yml
Due: pipelines/build-pipeline.yml

update env
  pipelines/gen-usage-pipeline.yml
  pipelines/templates/gen-usage-nuget.yml
  pipelines/templates/gen-usage-planner.yml
Due: pipelines/build-pipeline.yml

Path conditions:
  pipelines/build-pipeline.yml: any of: pipelines, src/apisof.net, src/Terrajobst.ApiCatalog, but not: .gitignore, .github
  pipelines/build-telemetry.yml: any of: pipelines/build-telemetry.yml, src/NetUpgradePlannerTelemetry
